.header{
    height: 60px;
    background-color: #da805d;
    padding: 5px;

    .title{
        font-size: 25px;
    }
    .logo{
        width: 100px;
        img{
            width: 100px;
            height: 50px;
        }
    }

    .text-right{
        background-color: #da805d;
        img{
            cursor: pointer;
            height: 50px;
            width: 50px;
        }
        .logout{
            margin-top: 10px;
            height: 30px;
            width: 30px;
        }
        .home{
            margin-top: 5px;
            height: 40px;
            width: 40px;
        }
    }
}

.table-title{
    font-size: 20px;
    font-weight: bold;
}