<div class="row header">
    <div class="col-1 logo">
        <img src="../../../assets/img/logo.png" alt="Logo DWTube">
    </div>
    <div class="col mt-2 title">DWTube</div>
    <div class="col-1 text-right" *ngIf="convidat" routerLink="/login">
        <p>
            <img src="../../../assets/img/login.png" class="card-img-top" alt="Imatge login">
            Login
        </p>
    </div>

    <div class="col-1 text-right" *ngIf="rol=='admin'" routerLink="/admin">
        <p>
            <img src="../../../assets/img/admin.png" class="card-img-top" alt="Imatge administra">
            Administra
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="rol=='profe'" routerLink="/profe/recurs/create">
        <p>
            <img src="../../../assets/img/add.png" class="card-img-top" alt="Imatge nou recurs">
            Nou Recurs
        </p>
    </div>
    <div class="col-1 text-right" (click)="goToHome()">
        <p>
            <img src="../../../assets/img/home.png" class="card-img-top" alt="Imatge usuari">
            Inici
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="logged" (click)="goToPerfil()">
        <p>
            <img src="../../../assets/img/user.png" class="card-img-top" alt="Imatge usuari">
            Perfil
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="logged" (click)="logout()">
        <p>
            <img src="../../../assets/img/logout.png" class="card-img-top logout" alt="Imatge sortida">
            Logout
        </p>
    </div>
</div>
<div class="row body mt-5">
    <div class="row recurs">
        <div class="card">
            <div class="card-body">
                <div class="card-title">{{titol | titlecase}}</div>
                <div class="card-text">{{explicacio | titlecase}}</div>
                <div *ngIf="tipus == '1'">
                    <img [src]="videorecurs" alt="imatge">
                </div>
                <div *ngIf="tipus == '2'">
                    <img [src]="videorecurs" alt="document">
                </div>
                <div *ngIf="tipus == '3'">
                    <button (click)="startVideo(videorecurs)">Start</button>
                    <div id="player" onload="startVideo(videorecurs)" (load)="startVideo(videorecurs)"></div>
                    <div id="actionsBar" style="display: none;">
                      <div id="playButtonDiv">
                        <button onclick="playVideo()" id="playButton">Play</button>
                      </div>
                      <div id="pauseButtonDiv" style="display: none;">
                        <button onclick="pauseVideo()" id="pauseButton">Pause</button>
                      </div>
                      <div id="stopButtonDiv">
                        <button onclick="stopVideo()" id="stopButton">Stop</button>
                      </div>
                      <div id="volumeInputDiv">
                        <label for="volumeInput">Volumen: </label>
                        <input type="range" id="volumeInput" name="volumeInput" min="0" max="100" onchange="changeVolume()">
                      </div>
                    </div>
                    <!-- <iframe style="width: 100%; height: 400px;" [src]="videorecurs" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <div *ngIf="tipus == '4'">
                    <img [src]="canvas" alt="canvas" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>