<!-- Header -->
<div class="row header">
    <div class="col-1 logo">
        <img src="../../../assets/img/logo.png" alt="Logo DWTube">
    </div>
    <div class="col mt-2 title">DWTube</div>
    <div class="col-1 text-right" (click)="goToHome()">
        <p>
            <img src="../../../assets/img/home.png" class="card-img-top" alt="Imatge usuari">
            Inici
        </p>
    </div>
    <div class="col-1 text-right" (click)="logout()">
        <p>
            <img src="../../../assets/img/logout.png" class="card-img-top logout" alt="Imatge sortida">
            Logout
        </p>
    </div>
</div>

<!-- Formulari -->
<div class="p-3 col-8 formulari">
    <div class="form-group p-0">
        <label for="titol">Titol del recurs</label>
        <input type="text" name="titol" class="form-control" [(ngModel)]="titol"/>
    </div>
    <div class="form-group p-0">
        <label for="descripcio">Breu descripcio</label>
        <input type="text" name="descripcio" class="form-control" [(ngModel)]="descripcio"/>
    </div>
    <div class="form-group p-0">
        <label for="explicacio">Explicacio del recurs</label>
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="explicacio"></angular-editor>
    </div>

    <div class="form-group p-0">
        <label for="selVideorecurs">Videorecurs</label>
    </div>
    <select class="custom-select" [(ngModel)]="selVideorecurs" name="selVideorecurs">
        <option value="1" selected>Infografia</option>
        <option value="2">Video</option>
        <option value="3">Video Youtube</option>
        <option value="4">Pissarra Digital</option>
    </select>

    <div class="form-group p-0" *ngIf="selVideorecurs == 1">
        <label class="custom-file-label" for="customFile">Escull la imatge</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customImage">
        </div>
    </div>
    <div class="form-group p-0" *ngIf="selVideorecurs == 2">
        <label class="custom-file-label" for="customFile">Escull el video</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
        </div>
    </div>
    <div class="form-group p-0" *ngIf="selVideorecurs == 3">
        <label for="linkYoutube">Link Youtube</label>
        <input type="text" class="form-control" name="linkYoutube">
    </div>
    <div class="form-group p-0" *ngIf="selVideorecurs == 4">
        <div>
            <label for="canvas">Canvas</label>
        </div>
        <canvas></canvas>
    </div>


    <div class="form-group p-0">
        <label for="selDisponibilitat">Disponibilitat del recurs</label>
        <select class="custom-select" [(ngModel)]="selDisponibilitat" name="selDisponibilitat">
            <option value="1" selected>Grup d'usuaris</option>
            <option value="2">Perfil d'usuaris</option>
            <option value="3">Link / Codi d'invitació</option>
            <option value="4">Public</option>
        </select>
    </div>
    <div class="form-group p-0">
        <label for="categoria">Categoria</label>
        <input type="text" name="categoria" class="form-control" [(ngModel)]="categoria"/>
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary form-control" (click)="newRecurs()">Crear nou recurs</button>
    </div>
</div>