<!-- Header -->
<div class="row header">
    <div class="col-1 logo">
        <img src="../../../assets/img/logo.png" alt="Logo DWTube">
    </div>
    <div class="col mt-2 title">DWTube</div>
    <div class="col-1 text-right" (click)="goToHome()">
        <p>
            <img src="../../../assets/img/home.png" class="card-img-top" alt="Imatge usuari">
            Inici
        </p>
    </div>
    <div class="col-1 text-right" (click)="logout()">
        <p>
            <img src="../../../assets/img/logout.png" class="card-img-top logout" alt="Imatge sortida">
            Logout
        </p>
    </div>
</div>

<!-- Body -->

crud
