<div class="card mx-auto" id="card_login">
    <img src="../../../assets/img/logo.png" class="card-img-top mt-3 mb-2" alt="Logo DWTube">
    <div class="card-body">
        <div class="form-group p-0">
            <label for="user">Username</label>
            <input type="text" name="user" class="form-control" [(ngModel)]="user"/>
        </div>

        <div class="form-group p-0">
            <label for="pass">Password</label>
            <input type="password" name="pass" class="form-control" [(ngModel)]="pass"/><br />
        </div>
        <button class="btn form-control" (click)="login()">Enviar</button>
        <div routerLink="/home" class="convidat">
            <a>Entra com a convidat</a>
        </div>
    </div>
  </div>