#card_login{
    background-color: #da805d;
    margin-top: 200px;
    margin-left: 25%;

    .convidat{
        margin-top: 20px;
        margin-left: 20%;
        text-decoration: underline;
        cursor: pointer;
    }
}

button{
    background-color: #ffb395;
    border: blue 1px solid;
}