#card_login{
    background-color: #da805d;
    margin-top: 5%;
    margin-left: 25%;
    max-width: 600px;

    .convidat{
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
    }
}

button{
    background-color: #ffb395;
    border: blue 1px solid;
}