#card_login{
    background-color: #da805d;
    margin-top: 15%;
    margin-left: 25%;

    .convidat{
        margin-top: 20px;
        margin-left: 20%;
        text-decoration: underline;
        cursor: pointer;
    }
}