<div class="row header">
    <div class="col-1 logo">
        <img src="../../../assets/img/logo.png" alt="Logo DWTube">
    </div>
    <div class="col mt-2 title">DWTube</div>
    <div class="col-1 text-right" *ngIf="convidat" routerLink="/login">
        <p>
            <img src="../../../assets/img/login.png" class="card-img-top" alt="Imatge login">
            Login
        </p>
    </div>

    <div class="col-1 text-right" *ngIf="rol=='admin'" routerLink="/admin">
        <p>
            <img src="../../../assets/img/admin.png" class="card-img-top" alt="Imatge administra">
            Administra
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="rol=='profe'" routerLink="/profe/recurs/list">
        <p>
            <img src="../../../assets/img/list.png" class="card-img-top" alt="Imatge llista recursos">
            Teus Recursos
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="rol=='profe'" routerLink="/profe/recurs/create">
        <p>
            <img src="../../../assets/img/add.png" class="card-img-top" alt="Imatge nou recurs">
            Nou Recurs
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="logged" (click)="goToPerfil()">
        <p>
            <img src="../../../assets/img/user.png" class="card-img-top" alt="Imatge usuari">
            Perfil
        </p>
    </div>
    <div class="col-1 text-right" *ngIf="logged" (click)="logout()">
        <p>
            <img src="../../../assets/img/logout.png" class="card-img-top logout" alt="Imatge sortida">
            Logout
        </p>
    </div>
</div>
<div class="row body mt-5">
    <div class="row search">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text"><img src="../../../assets/img/loupe.png" alt="Lupa" class="lupa"></span>
            </div>
            <input type="text" class="form-control" placeholder="Text a buscar en TITOL">
        </div>
    </div>
    <div class="row categories">
        <div>
            <span *ngFor="let singlePath of path">
                <span class="pointer" (click)="getCategories(singlePath.id)">{{singlePath.nom | titlecase}}</span> |
            </span>
        </div>
    </div>
    <div class="row categories">
        <div *ngFor="let category of categories">
            <div class="card" (click)="getCategories(category.id)">
                <div class="card-body">
                    {{category.id}}: {{category.name | titlecase}}
                </div>
            </div>
        </div>
        <hr>
        <div *ngFor="let recurs of recursos">
            <div class="row">
                <div class="col-10 recursos">
                    <div class="card" [routerLink]="['/recursos/recurs', recurs.id]">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {{recurs.titol | titlecase}}
                                </div>
                                <div class="col">
                                    Etiquetes
                                </div>
                                <div class="col selDisponibilitat">
                                    <div *ngIf="recurs.tipus_disponibilitat == 1"><img src="../../../assets/img/users-group.png" class="card-img-top" alt="Imatge Grup Usuaris"> {{recurs.disponibilitat | titlecase}}</div>
                                    <div *ngIf="recurs.tipus_disponibilitat == 2"><img src="../../../assets/img/padlock.png" class="card-img-top" alt="Imatge Candau"> {{recurs.disponibilitat | titlecase}}</div>
                                    <div *ngIf="recurs.tipus_disponibilitat == 3"><img src="../../../assets/img/key.png" class="card-img-top" alt="Imatge Clau"> Codi</div>
                                    <div *ngIf="recurs.tipus_disponibilitat == 4"><img src="../../../assets/img/open-lock.png" class="card-img-top" alt="Imatge Candau obert"> Public</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{recurs.descripcio | titlecase}}
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
                <div class="col-2 favoritos recursos">
                    <div class="card" (click)="addFavoritos(recurs.id)">
                        <div class="card-body">
                            <button type="button" class="btn"><img src="../../../assets/img/star.png" class="card-img-top" alt="Estrella"><br>Favoritos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>